body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
   }
header{
    background-color: rgb(82, 153, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.logo_img{
    width: 50px;
}

.judul{
    color: white;
    font-size: 20px;
    margin: 0px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 130px;
}

.sidebar{
    background-color: rgb(36, 32, 32);
    border-right: 2px  solid;
    width: 100px;
    padding: 8px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 90px;
}

.sidebar > nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.ikon{
    fill: white;
}

.sidebar li{
    list-style: none;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: bold;
    color: white;
    padding: .2rem 1.5rem;
}

.sidebar li a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.sidebar li:hover a {
    color: white;
    background-color: rgb(94, 82, 82);
    padding: 4px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transform: scale(0.5);
}

.maincontent{
    margin: 15px 15px 15px 0px;
}


form div label{
    width: 100px;
}

form div{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    align-self: center;
}

input, select{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    align-self: center;
}

input:hover, select:hover{
    background-color: rgb(222, 240, 240);
}

button{
    cursor:pointer;
}

footer{
    background-color: rgb(218, 218, 218);
    padding: 10px; 
    text-align: center;
    color: rgb(0, 0, 0);
}